body {
  background: url("../img/bg.jpg") no-repeat center center fixed;
  background-size: cover;
  -o-background-size: cover;
  font-family: 'Dosis', sans-serif;
  color: white;
  padding-bottom: 50px;
}

body nav {
  display: inline-block;
  top: 0px;
  position: relative;
}

nav {
  width: 100%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.62);
  border: 0px solid rgba(0, 0, 0, 0.62);
  border-radius: 20px;
  margin-bottom: 15px;
  top: -100px;
  font-family: 'Dosis', sans-serif;
}

nav a {
  color: white;
}

nav a:hover {
  text-decoration: none;
  color: white;
}

nav li {
  display: inline-block;
  padding: 0px 40px;
  font-size: 1.5em;
}

nav li:hover {
  -webkit-transform: translateY(-3px);
      -ms-transform: translateY(-3px);
          transform: translateY(-3px);
  -webkit-transition-duration: 0.2s;
       -o-transition-duration: 0.2s;
          transition-duration: 0.2s;
}

nav ul {
  padding: 0px;
  margin: 15px 0px;
}

.hoofd {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  width: 50%;
}

.hoofd img {
  width: 250px;
  height: 250px;
  padding: 3px;
  border: 1.5px solid #5353E9;
  border-radius: 50%;
}

@-webkit-keyframes main {
  from {
    top: -100px;
  }
  to {
    top: 0px;
  }
}

@keyframes main {
  from {
    top: -100px;
  }
  to {
    top: 0px;
  }
}

.bg-normal {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 15px;
}

.main,
main,
section {
  margin-top: 20px;
}

.main h2, .main h1,
main h2,
main h1,
section h2,
section h1 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.main p,
main p,
section p {
  font-size: 1.2em;
}

.main a,
main a,
section a {
  color: #1F338F;
}

.main a:hover,
main a:hover,
section a:hover {
  text-decoration: none;
}

.active {
  color: #6881F1;
}

.img-over {
  width: 393px;
  height: 393px;
  padding: 3px;
  border: 1.5px solid #5353E9;
  border-radius: 50%;
  background-color: white;
}

.div1 {
  z-index: 1;
  right: 75px;
}

.div2 {
  height: 300px;
  margin-top: 50px;
}

.div2:hover {
  cursor: default;
}

.div3 {
  z-index: 1;
  left: -150px;
}

section {
  margin-top: 50px;
}

.main a img {
  -webkit-transition-duration: 0.3s;
       -o-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.main a img:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.main p {
  left: 30px;
}

.form {
  width: 70%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
}

h1 {
  margin-top: 15px;
}

.btn-form {
  width: 100px;
  height: 40px;
  float: right;
}

.btn-form:hover {
  cursor: pointer;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social img {
  width: 75px;
  height: 75px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 35px;
  margin-top: 7px;
}

.sect a img {
  -webkit-transition-duration: 0.3s;
       -o-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.sect a img:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.taal {
  float: right;
  padding: 0px;
}

.taal a:hover {
  -webkit-transform: translateY(-3px);
      -ms-transform: translateY(-3px);
          transform: translateY(-3px);
  -webkit-transition-duration: 0.2s;
       -o-transition-duration: 0.2s;
          transition-duration: 0.2s;
}

.taal2 {
  padding-right: 40px;
}

iframe {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding: 7px;
  border-radius: 10px;
  border: 2px solid #5353E9;
  background: white;
  margin-bottom: 40px;
}

.butn {
  padding-left: 15px;
  margin-top: 10px;
  margin-bottom: 50px;
}

.butn button {
  background-color: #537BE9;
  color: white;
  width: 100px;
  height: 42px;
  border: 2px solid rgba(83, 83, 233, 0.6);
}

.butn button:hover {
  cursor: pointer;
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
}

.img-italent {
  width: 300px;
  height: 300px;
  padding: 3px;
  border: 1.5px solid #5353E9;
  border-radius: 50%;
  background-color: white;
  margin-bottom: 40px;
}

.talent {
  position: relative;
  top: -175px;
  left: 79px;
}

.tlnt {
  height: 480px;
}

.hoofding {
  padding-left: 95px;
}

.pdf {
  text-align: center;
}

.pdf object {
  width: 90%;
  height: 780px;
  margin-bottom: 50px;
}

.pdf .pdfItem {
  margin-right: 15%;
  margin-left: 15%;
  margin-bottom: 2%;
}

.pdf .pdfItem h2 {
  padding-top: 30px;
  margin-bottom: 30px;
}
/*# sourceMappingURL=main.css.map */